* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Roboto", "Raleway", "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  min-width: 320px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__mobile {
  width: 40px;
  height: 40px;
}
.header__mobile:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
  }
  .header__mobile {
    display: none;
  }
  .header__container {
    width: 768px;
    height: 80px;
    align-items: center;
  }
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-left: 83px;
    gap: 60px;
    width: 282px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
  .header__menu {
    margin-left: 93px;
  }
}
.header__logo {
  width: 149px;
  height: 28px;
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.header__logo--second-color {
  color: black;
}

.logo__footer {
  font-family: "Raleway";
  font-style: normal;
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.logo__footer-color {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__logo {
    position: static;
    padding-left: 15px;
  }
}
.slider {
  min-width: 320px;
  width: 100%;
  background-color: rgb(47, 48, 58);
}
.slider__container {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
  background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url("../images/mobile/Slider_mo.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider__text {
  width: 365px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .slider__container {
    background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url(../images/mobile/Slider_mox2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .slider__container {
    background-size: 768px 400px;
    background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url("../images/tab/Slider_tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .slider__container {
    background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url(../images/tab/Slider_tabx2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider__container {
    height: 600px;
    background-size: 1600px 600px;
    background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url("../images/desktop/Slider_desk.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .slider__container {
    background-image: linear-gradient(0deg, rgba(48, 49, 59, 0.4) 0%, rgba(48, 49, 59, 0.4) 100%), url(../images/desktop/Slider_deskx2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .slider__text {
    width: 696px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
  }
}
.benefits {
  display: flex;
  justify-content: center;
  min-width: 320px;
}
.benefits__container {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.benefits__list {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.benefits__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.benefits__img {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.benefits__icon {
  display: flex;
}
.benefits__title {
  padding: 30px 105px 10px 105px;
  font-size: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.benefits__text {
  font-size: 14px;
  line-height: 171%;
  color: #757575;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .benefits {
    width: 100%;
    display: flex;
  }
  .benefits__container {
    max-width: 1199px;
  }
  .benefits__list {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .benefits__img {
    width: 354px;
  }
  .benefits__item {
    flex-basis: calc((100% - 30px) / 2);
    width: 100%;
  }
  .benefits__title {
    width: 354px;
    padding: 30px 0 10px 0;
    display: flex;
    align-items: flex-start;
  }
  .benefits__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .benefits__container {
    width: 1200px;
    padding: 94px;
  }
  .benefits__list {
    width: 100%;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
  }
  .benefits__img {
    width: 270px;
  }
  .benefits__item {
    width: 100%;
  }
  .benefits__title {
    width: 270px;
  }
  .benefits__text {
    width: 270px;
  }
}
.offer {
  display: none;
}

@media screen and (min-width: 1199px) {
  .offer {
    display: flex;
  }
  .offer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .offer__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding-bottom: 50px;
  }
  .offer__list {
    display: flex;
    padding-bottom: 94px;
    justify-content: center;
  }
  .offer__element {
    width: 370px;
    height: 294px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
  }
  .offer__text {
    position: absolute;
    top: 224px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
.team {
  display: flex;
  min-width: 320px;
  width: 100%;
  background-color: #f5f4fa;
}
.team__container {
  width: 100%;
  padding: 94px 0;
}
.team__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.team__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team__card {
  max-width: 100%;
  height: 622px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.team__item {
  display: flex;
  flex-flow: column;
}
.team__name {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team__position {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #757575;
  padding-bottom: 16px;
}
.team__img {
  width: 450px;
  height: 460px;
}

.icon {
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    position: relative;
  }
  .team__h2 {
    width: 314px;
    position: absolute;
    top: 30px;
    padding-bottom: 20px;
  }
  .team__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .team__cards {
    width: 768px;
    display: flex;
    gap: 30px;
    flex-basis: calc(100% - 80px)/2;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .team__card {
    width: 354px;
    height: 536px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__img {
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1170px;
    background-color: #f5f4fa;
  }
  .team__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 94px 0;
  }
  .team__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    padding-bottom: 10px;
  }
  .team__cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .team__card {
    width: 270px;
    height: 428px;
    display: flex;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__item {
    display: flex;
    flex-flow: column;
    width: 270px;
    height: 428px;
  }
  .team__name {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .team__position {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    padding-bottom: 16px;
  }
  .team__img {
    width: 270px;
    height: 260px;
  }
  .icon {
    justify-content: space-between;
  }
}
.media {
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: #afb1b8;
}
.media--footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-left: 0px;
}
.media__icon, .media__icon--footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.media__icon:hover, .media__icon--footer:hover {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.media__icon--footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  justify-content: space-between;
}

.customers {
  display: flex;
  min-width: 320px;
  width: 100%;
  justify-content: center;
}
.customers__container {
  position: relative;
  max-width: 480px;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
.customers__h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.customers__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}
.customers__element {
  width: 210px;
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
  border: 1px solid #dadbdf;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}
.customers__element:hover {
  border-color: #2196f3;
  cursor: pointer;
  fill: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers {
    width: 100%;
    display: flex;
  }
  .customers__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 94px 0 60px 0;
  }
  .customers__h2 {
    padding-bottom: 50px;
  }
  .customers__element {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    width: 100%;
    display: flex;
  }
  .customers__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 94px 0 60px 0;
  }
  .customers__h2 {
    padding-bottom: 50px;
  }
  .customers__logo {
    display: flex;
    margin-left: 15px;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
  }
  .customers__element {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
  }
  .customers__element:hover {
    border-color: #2196f3;
    cursor: pointer;
    fill: #2196f3;
  }
}
.footer {
  display: block;
  min-width: 320px;
  width: 100%;
  height: 603px;
  background-color: rgb(47, 48, 58);
  justify-content: center;
}
.footer__container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.address {
  color: #ffffff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address__text:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
}

.social-media {
  margin-left: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.social-media__text {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.newsletter {
  min-width: 320px;
  max-width: 100%;
}
.newsletter__container {
  display: flex;
  flex-direction: column;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.newsletter__title {
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  margin-top: 20px;
}
.newsletter__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  background-color: rgba(47, 48, 58, 0.4);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 16px;
}
.newsletter__button {
  width: 200px;
  height: 50px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  margin-left: 12px;
  margin-bottom: 60px;
  padding-left: 42px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__icon {
  margin-left: 24px;
  fill: #fff;
}
.newsletter__button:hover {
  cursor: pointer;
  background-color: #81afd4;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
  .footer__container {
    position: relative;
  }
  .footer__logo {
    position: absolute;
    left: 78px;
  }
  .social-media {
    position: absolute;
    left: 473px;
  }
  .footer__box {
    display: flex;
    gap: 144px;
    margin-top: 60px;
  }
  .newsletter {
    position: absolute;
    top: 245px;
  }
  .newsletter__input {
    width: 430px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    height: 252px;
    margin: 0;
    padding: 0;
  }
  .footer__container {
    padding: 0;
    flex-direction: row;
    align-content: flex-start;
  }
  .footer__logo {
    align-items: flex-start;
  }
  .address {
    align-items: flex-start;
  }
  .social-media {
    padding-left: 70px;
    padding-top: 72px;
  }
  .newsletter {
    margin-left: 78px;
    padding-top: 72px;
  }
  .newsletter__input {
    width: 358px;
  }
  .newsletter__form {
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
  }
  .newsletter__title {
    position: absolute;
    left: 0;
    top: -56px;
  }
  .newsletter__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .newsletter__button {
    width: 200px;
    margin-bottom: 0;
    padding-top: 0px;
  }
}
.backdrop {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: visibility 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__close-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__close-button:hover {
  background-color: #757575;
  fill: #2196f3;
}
.backdrop__icon {
  display: flex;
  padding-top: 7px;
  padding-left: 2px;
}

.modal {
  border-radius: 4px;
  margin: auto;
  width: 450px;
  height: 609px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__container {
  min-width: 320px;
  display: flex;
  padding: 40px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.modal__input {
  width: 370px;
  height: 40px;
  padding-left: 35px;
  display: flex;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
}
.modal__input--textar {
  height: 120px;
  padding: 12px 16px;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0);
}

.modal__form > p {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  justify-content: center;
}

.modal__form > label {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__icon--mail, .modal__icon--phon, .modal__icon--person {
  position: absolute;
  height: 12px;
  width: 12px;
}

.modal__icon--person {
  top: 129px;
  left: 55px;
}

.modal__icon--phon {
  width: 13px;
  height: 13px;
  top: 195.26px;
  left: 55px;
}

.modal__icon--mail {
  width: 15px;
  top: 265px;
  left: 55px;
}

.modal__checkbox {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
}

.modal__description {
  padding-left: 0px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3%;
  color: #757575;
  margin-left: -15px;
}
.modal__description::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  outline: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__description--links {
  text-decoration: none;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: text-decoration, color;
}
.modal__description--linkss:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check:checked + .modal__description::before {
  background-color: #2196f3;
  outline: 1px solid #2196f3;
  border-radius: 2px;
  background-image: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal__button {
  color: #f5f4fa;
  width: 200px;
  height: 50px;
  top: 519px;
  left: 125px;
  position: absolute;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  cursor: pointer;
  background-color: #7cb4e2;
}

.modal__check {
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: inline-flex;
}

.modal__input:hover,
.modal__input:focus-within,
.modal__input:checked {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.modal__label:hover,
.modal__label:focus-within {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal {
    border-radius: 4px;
    margin: auto;
    width: 528px;
    height: 581px;
  }
  .modal__input {
    width: 448px;
    height: 40px;
    padding-left: 40px;
  }
  .modal__input--textar {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
  }
  .modal__icon--person {
    top: 107px;
  }
  .modal__icon--phon {
    top: 174.28px;
  }
  .modal__icon--mail {
    top: 243px;
  }
  .modal__checkbox {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }
  .modal__button {
    top: 491px;
    left: 164px;
  }
}
.js-menu-container {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: translateX(5000px);
  transition: transform 1s;
  background-color: #ffffff;
  z-index: 100;
}

.is-open {
  display: block;
  transform: translateX(0);
}

.mobile__menu-button {
  position: absolute;
  right: 55px;
  width: 40px;
  height: 40px;
  fill: black;
  top: 10px;
}

.mobile__svg-focus:hover,
.mobile__svg-focus:focus {
  fill: #2196f3;
}

.mobile__navigation {
  position: absolute;
  left: 40px;
  top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 0px;
}

.mobile__navigation-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: left;
  color: #212121;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__navigation-name:focus, .mobile__navigation-name:hover {
  color: #2196f3;
}

.mobile__contact {
  display: flex;
  flex-direction: column;
  margin-top: 306px;
  gap: 32px;
  align-content: center;
  justify-content: center;
}

.mobile__contact-phone {
  position: absolute;
  left: 40px;
  bottom: 254px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.mobile__contact-mail {
  position: absolute;
  left: 40px;
  bottom: 194px;
  display: flex;
  align-items: center;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__contact-mail:hover, .mobile__contact-mail:focus {
  color: #2196f3;
}
.mobile__contact-mail:hover .contact__svg {
  fill: #2196f3;
}
.mobile__contact-mail:focus .contact__svg {
  fill: #2196f3;
}

.mobile__socials {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  flex-direction: row;
  gap: 10px;
  left: 40px;
  bottom: 48px;
  margin-bottom: 46px;
  text-decoration: none;
}

.mobile__socials-border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__socials-link {
  text-decoration: none;
  font-family: "Roboto";
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  padding-right: 10px;
}

.portfolio {
  min-width: 320px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__container {
  width: 480px;
  margin: 0 auto;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio__container {
    margin: 0 auto;
    display: flex;
  }
  .portfolio-menu {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
}
.portfolio-button {
  width: 121px;
  height: 38px;
  margin-bottom: 50px;
  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-button:hover {
  border: 1px solid #2196f3;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #eeeeee;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__container {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  flex-basis: 33.3333333333;
  width: 370px;
  height: 404px;
  border: 2px solid #eeeeee;
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__img {
  display: flex;
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}
.projects__text {
  display: flex;
  width: 100%;
  height: 294px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translatey(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card {
  width: 370px;
  height: 404px;
}
.projects__label {
  padding: 20px 0 0 24px;
}
.projects__title {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 171%;
}
.projects__description {
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #757575;
}

.projects__item:hover .projects__text {
  transform: translatey(0);
}

.projects__item > img:hover {
  border: 2px solid #2196f3;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    height: 80px;
    align-items: center;
  }
  .menu__container {
    display: flex;
    align-items: center;
  }
  .menu__item {
    align-items: baseline;
    justify-content: space-between;
  }
  .menu__item:hover {
    color: #2196f3;
  }
  .menu__item:active {
    color: #2196f3;
  }
  .menu__item--current-page {
    color: #2196f3;
    position: relative;
  }
  .menu__item--current-page::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -34px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    border: 2px solid #2196f3;
    background-color: #2196f3;
  }
}
.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    padding-left: 101px;
  }
  .contact__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contact__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
    cursor: pointer;
    justify-content: space-between;
  }
  .contact:hover {
    fill: #2196f3;
    color: #2196f3;
    text-decoration-color: #2196f3;
  }
  .contact:active {
    fill: #2196f3;
    color: #2196f3;
    text-decoration-color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    padding-left: 330px;
  }
  .contact__container {
    flex-direction: row;
    gap: 30px;
  }
  .contact__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
.button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-style: none;
  color: #ffffff;
  background-color: #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button:hover {
  cursor: pointer;
  background-color: #4c9fe4;
}/*# sourceMappingURL=main.css.map */