* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--basic_font-color);
  align-items: center;
  margin: 0 auto;
}
:root {
  --basic_font-color: #212121;
  --second_font-color: black;
  --third_font-color: #ffffff;
  --text-color: #757575;
  --link_color: blue;
  --link_visited: rgb(115, 44, 197);
  --activ_button-color: #2196f3;
  --button-color: #f5f4fa;
  --background-color: rgb(48, 49, 59);
  --adress-font: rgba(255, 255, 255, 0.6);
  --body-background: #f5f4fa;
  --imag-border: #eeeeee;
  --header-border: #ececec;
  --background-foto: rgba(47, 48, 58, 0.4);
  --background-icon: rgba(255, 255, 255, 0.1);
  --icon_color:#AFB1B8;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}
figure {
  display: flex;
  flex-flow: column;
  width: 270px;
  height: 428px;
}

li {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
/*------Index_HEADER -------*/
header {
  border-bottom: 1px solid var(--header-border);
}
.header {
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 24px 0 25px 0;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--activ_button-color);
  padding-left: 15px;
  padding-right: 93px;
  justify-content: center;
  align-items: center;
}
.logo > span {
  color: var(--second_font-color);
}
.current_page {
  color: var(--activ_button-color);
}
.current_page .header-icon {
  fill: var(--activ_button-color);
}
.menu {
  width: 261px;
  display: flex;
  margin-right: 345px;
  justify-content: space-between;
}
.menu_item {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
  align-items: baseline;
  justify-content: space-between;
}

.menu_item:hover,
.menu_item:active {
  color: var(--activ_button-color);
}
.contact_item:hover,
.contact_item:active {
  text-decoration: underline;
  text-decoration-color: var(--activ_button-color);
}

.contact {
  width: 321px;
  display: flex;
  flex-wrap: nowrap;
gap:30px;

 
}
.contact_item {
  display: flex;
  gap:10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  cursor: pointer;
  justify-content: space-between;
  
}
.contact_item:hover {
  fill: var(--activ_button-color);
  color:var(--activ_button-color);
}
.header-icon {
}
/*------Index_MAIN ---------*/
.index_section1 {
  width: 100%;
  height: 600px;
  background-color: var(--background-color);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
      0deg,
      rgba(48, 49, 59, 0.4) 0%,
      rgba(48, 49, 59, 0.4) 100%
    ),
    url("../images/img_h1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.h1_description {
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  color: var(--third_font-color);
  letter-spacing: 0.06em;
  align-items: center;
  padding: 0 252px 30px;
}
.h1_button {
  width: 200px;
  height: 50px;
  border-style: none;
  color: var(--third_font-color);
  background-color: var(--activ_button-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 185%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.h1_button:hover {
  cursor: pointer;
 background-color:#4c9fe4 ;
  
}
.index_section2 {
  display: flex;
  min-width: 1200px;
}
.lorem {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lorem_li {
  flex-basis: calc((100% - 90px) / 4);
}

.lorem_icon .icon {
  width: 270px;
  height: 120px;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  padding: 25px 100px;
}
/* .lorem_icon .icon:hover {
  border-color: var(--activ_button-color);
  border-radius: 4px;
  fill: var(--activ_button-color);
} */
.lorem_li > use {
  display: flex;
  align-content: center;
  justify-content: center;
}
.h3_title {
  padding-top: 30px;
  font-size: 16px;
}
.h3_text {
  font-size: 14px;
  line-height: 146%;
  color: var(--text-color);
}
.index_section3_h2 {
  display: flex;
  flex-direction: column;
  font-size: 36px;
  padding: 0 0 50px 425px;
}

.image {
  display: flex;
  padding-bottom: 94px;
}
.image_li {
  padding-left: 15px;
  padding-right: 15px;
}
.index_section4 {
  display: flex;
  background-color: var(--body-background);
}
.index_section4_h2 {
  display: flex;

  flex-direction: column;
  font-size: 36px;
  padding: 0 0 50px 495px;
}
.index_section4_ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.index_section4_li {
  width: 270px;
  height: 428px;
  display: flex;
  
  background: var(--third_font-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.icon {
  justify-content: space-between;
}

.media {
  margin-left: 32px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  fill:var(--icon_color)
}
.media_icon {
      width: 44px;
  height: 44px;
  border-radius: 50%;
  
}
.media_icon_chek {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--third_font-color);
  background-color: var(--activ_button-color);
}

.media_icon:hover {
  fill: var(--third_font-color);
  background-color: var(--activ_button-color);
  cursor: pointer;
}
.index_section5_ul {
  display: inline-flex;

  margin-left: 15px;
  flex-wrap: nowrap;
  gap: 30px;
}
.index_section5_li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill:var(--icon_color);
}
/* .index_section5_li_chek {
  width: 170px;
  height: 92px;
  border: 1px solid var(--activ_button-color);
  fill: var(--activ_button-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.index_section5_li .icon:hover {
  border-color: var(--activ_button-color);
  cursor: pointer;
  fill: var(--activ_button-color);
}
/* .icon:hover {
  fill: var(--activ_button-color);
  cursor: pointer;
} */

.character {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.character_description {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 16px;
}
/*------ Index-FOOTER ------*/
footer {
  width: 100%;
  height: 252px;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}
.logo_footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--activ_button-color);
  padding-left: 15px;
  padding-right: 93px;
  padding-top: 60px;
  display: flex;
  align-items: center;
}
.logo_footer > span {
  color: var(--third_font-color);
}
.address {
  color: var(--third_font-color);
  display: block;
  padding: 20px 0 20px 15px;
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
}

.address_text:hover {
  text-decoration: underline;
  text-decoration-color: var(--activ_button-color);
}
.address > a {
  display: block;
  padding-top: 9px;
  color: var(--adress-font);
}
.footer {
  width: 1200px;
  display: flex;
  margin: auto 0 auto 0;
    align-items: center;
  
}
.social-media {
  margin-left: 70px;
}
.social-media_text {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third_font-color);
}
.media_footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.media_icon_footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--third_font-color);
  background-color: var(--background-icon);
}
.media_icon_chek_footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--third_font-color);
  background-color: var(--activ_button-color);
}

.media_icon_footer:hover {
  fill: var(--third_font-color);
  background-color: var(--activ_button-color);
  cursor: pointer;
}

/*---- Portfolio MAIN ------*/
.portfolio-section{
  padding: 94px 0;
  /* width: 1170px; */
}
.portfolio_section_ul {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-left: 310px;
  
}
.portfolio-button {
  width: 121px;
  height: 38px;
  margin-bottom: 50px;
  background-color: var(--button-color);
  border-style: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-button:hover {
  border: 1px solid var(--activ_button-color);
 background-color: var(--activ_button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #eeeeee;
}



.button-text:hover {
  text-decoration: underline;
  text-decoration-color: var(--activ_button-color);
  text-decoration-thickness: 1px;
}
/* .check-mark {
  color: #eeeeee;
  background-color: var(--activ_button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */





.projects {
  /* margin: 0 15px 0 15px; */
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}
.projects_li {
  flex-basis: calc((100 / 3));
  width: 370px;
  height: 404px;
  border: 2px solid var(--imag-border);
}
.projects_li > figure {
  width: 370px;
  height: 404px;
}
.projects_li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img_description {
  padding: 20px 0 0 24px;
}
.img_description > h4 {
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 171%;
}
.img_description > p {
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-color);
}
.projects_li > img:hover {
  border: 2px solid var(--activ_button-color);
}

/* .social-media a:hover svg {
  fill: red;
  background-color: red;
} */
.index_section5_li:hover {
  fill: var(--activ_button-color);
  border-color: var(--activ_button-color);
}

/* .aaa .icon:hover svg{
  fill: var(--activ_button-color);
} */
