body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--basic_font-color);
}
:root {
  --basic_font-color: #212121;
  --second_font-color: black;
  --third_font-color: white;
  --text-color: #757575;
  --link_color: blue;
  --link_visited: rgb(98, 44, 197);
  --activ_button-color: #2196f3;
  --button-color: #f5f4fa;
  --background-color: #2f303a;
}
a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  color: var(--link_color);
  cursor: pointer;
  background-color: var(--activ_button-color);
}

/*------Index_HEADER -------*/
header {
  width: 1600px;
  height: 80px;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--activ_button-color);
  padding-bottom: 20px;
  padding-top: 60px;
}
.logo > span {
  color: var(--second_font-color);
}
.menu {
  padding-left: 453px;
}
.menu li {
  text-decoration: none;
  display: inline-block;
  float: left;
  margin: 0px 46px;
}
.menu .menu_item :hover {
  color: var(--link_color);
}
.menu .menu_item :visited {
  color: var(--link_visited);
}
.contact {
  padding-left: 1078px;
}
.contact li {
  display: inline;
  margin: 0px 50px;
}
/*------Index_MAIN ---------*/
.h1 {
  width: 1600px;
  height: 600px;
  background-color: var(--background-color);
}
.h1_description {
  width: 696px;
  height: 120px;
  font-size: 44px;
  line-height: 116%;
  padding-top: 200px;
  padding-left: 452px;
  text-align: center;
  color: var(--third_font-color);
}
.h1_button {
  width: 200px;
  height: 50px;
  top: 430px;
  margin-left: 700px;
  background-color: var(--button-color);
  font-size: 16px;
}
.h3_title {
  font-size: 16px;
}
.h3_text {
  font-size: 14px;
  line-height: 146%;
  color: var(--text-color);
}
.h2_title {
  font-size: 36px;
}
.character {
  font-size: 16px;
}
.character_description {
  font-size: 16px;
  color: var(--text-color);
}
/*------ Index-FOOTER ------*/
footer {
  width: 1600px;
  height: 252px;
  background-color: var(--background-color);
}
.address {
  color: var(--third_font-color);
  display: block;
}
.address > a {
  display: block;
}
/*---- Portfolio MAIN ------*/
.portfolio_button {
  margin-left: 510px;
}

.portfolio_button ul li {
  display: inline;
  float: left;
  margin: 0px 8px;
}
