.customers {
  width: 100%;
  min-width: 480px;
  &__container {
    @include set-flex(column, center, center);
    width: 100%;
    margin: 0 auto;
    padding: 94px 0;
  }
}

.clients-logo {
  display: flex;
  margin-left: 15px;
  flex-wrap: rap;
  flex-basis: calc((100 / 2));
  gap: 30px;
  justify-content: center;

  &__element {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: color("icon");

    &:hover {
      border-color: color("activ_button");
      cursor: pointer;
      fill: color("activ_button");
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
}
