.address {
  color: color("third_font");
  display: block;
  padding: 20px 0 20px 15px;
  font-style: normal;
  font-size: 14px;
  line-height: 146%;

  &__text:hover {
    text-decoration: underline;
    text-decoration-color: color("activ_button");
  }

  &__text--link {
    display: block;
    padding-top: 9px;
    color: color("adress-font");
  }
}

.footer {
  width: 100%;
  height: 252px;
  background-color: color("background");
  display: flex;
  justify-content: center;
  &__container {
    width: 1200px;
    display: flex;
    margin: auto 0 auto 0;
    align-items: center;
  }
}
