.header {
  min-width: 320px;
  height: 60px;

  display: flex;
  justify-content: center;
  &__container {
    width: 100%;
    min-width: 320px;

    margin: 0 auto;
    display: flex;
  }
  &__mobile {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 10px;
    &:hover {
      fill: color("activ_button");
    }
  }
}

.contact {
  display: none;
}
.menu {
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    min-width: 480px;
    display: flex;
    align-items: center;
    &__container {
      width: 480px;
      display: flex;
      padding-left: 15px;
      align-items: center;
    }
    &__mobile {
      position: static;
      margin-left: 276px;
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    &__mobile {
      display: none;
    }
    &__container {
      width: 768px;
      height: 80px;

      align-items: center;
    }
  }
  .header__menu {
    @include set-flex(row, center, center);
    @include font-styles("Roboto", normal, 500, 14px, 16px, 0.02em);
    color: color("basic_font");
    margin-left: 83px;
    gap: 60px;
    width: 282px;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    height: 80px;
    align-items: center;

    &__container {
      // min-width: 606px;
      display: flex;
      align-items: center;
    }
    &__item {
      align-items: baseline;
      justify-content: space-between;
      &:hover {
        color: color("activ_button");
      }
      &:active {
        color: color("activ_button");
      }
    }
    &__item--current-page {
      color: color("activ_button");
      position: relative;
    }
    &__item--current-page::after {
      content: " ";
      display: block;
      position: absolute;
      bottom: -34px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      border: 2px solid color("activ_button");
      background-color: color("activ_button");
    }
  }
  .contact {
    display: flex;
    padding-left: 101px;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      // gap: 10px;
      // padding-right: 15px;
    }
    &__item {
      @include font-styles("Roboto", normal, 500, 12px, 14px, 0.02em);
      color: color("text");
      cursor: pointer;
      justify-content: space-between;

      &:hover {
        fill: color("activ_button");
        color: color("activ_button");

        text-decoration-color: color("activ_button");
      }
      &:active {
        fill: color("activ_button");
        color: color("activ_button");
        text-decoration-color: color("activ_button");
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    &__container {
      width: 1200px;
    }
    &__menu {
      margin-left: 93px;
    }
  }
  .contact {
    padding-left: 330px;
    &__container {
      flex-direction: row;
      gap: 30px;
    }
    &__item {
      @include font-styles("Roboto", normal, 500, 14px, 16px, 0.02em);
    }
  }
}
// @media screen and (min-width: 768px) and (max-width: 1199px){

// }
