.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: color("activ_button");
  padding-left: 15px;
  padding-right: 93px;
  justify-content: center;
  align-items: center;

  &--second-color {
    color: color("second_font");
    
  }
  &--footer-color {
    color: color("third_font");
  }
}
