.media {
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: color("icon");
  padding-bottom: 16px;
  &--footer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 0px;
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover {
      fill: color("third_font");
      background-color: color("activ_button");
      cursor: pointer;
    }
  }
}
.media__icon--footer {
  @extend .media__icon;
  fill: color("third_font");
  background-color: color("background-icon");
}

.icon {
  justify-content: space-between;
}
