.media {
  
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: color("icon");
  &--footer {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-left: 0px;
  }
  &__icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover {
      fill: color("third_font");
      background-color: color("activ_button");
      cursor: pointer;
    }
    
  }
}
.media__icon--footer{
  @extend .media__icon; 
  fill: color("third_font");
      background-color: color("background-icon");
}

.social-media {
  margin-left: 70px;

  &__text {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: color("third_font");
  }
}
