.menu {
  min-width: 606px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 46px;

  &__item {
    align-items: baseline;
    justify-content: space-between;
    &:hover {
      color: color("activ_button");
    }
    &:active {
      color: color("activ_button");
    }}
    &__item--current-page {
      color: color("activ_button");
      position: relative;
    }
    &__item--current-page::after {
      content: " ";
      display: block;
      position: absolute;
      bottom: -34px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      border: 2px solid color("activ_button");
      background-color: color("activ_button");
    }
    &__lebel {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
    }
  }

