// @media screen and (min-width: 120px) and (max-width: 1199px) {
.offer {
  display: none;
}

// }
@media screen and (min-width: 1199px) {
  .offer {
   
    display: flex;
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 36px;
      padding-bottom: 50px;
    }

    &__list {
      display: flex;
      padding-bottom: 94px;
      justify-content: center;
    }

    &__element {
      width: 370px; 
      height: 294px;
      position: relative;
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      
    }
    
    &__text {
      position: absolute;
      top: 224px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }
}
