.team {
  display: flex;
  background-color: color("body-background");
  &__h2 {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    padding: 0 0 50px 495px;
  }
  &__cards {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.person-card {
  width: 270px;
  height: 428px;
  display: flex;
  background: color("third_font");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &__item {
    display: flex;
    flex-flow: column;
    width: 270px;
    height: 428px;
  }

  &__name {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__position {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: color("text");
    padding-bottom: 16px;
  }
}
.icon {
  justify-content: space-between;
}
