.team {
  width: 480px;
  background-color: color("body-background");
  border: 2px solid blue;
  &__container {
    display: column;
    width: 100%;
    margin: 0 auto;
    padding: 94px 0;
  }
  &__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font-styles(28px, 700, 0.03em);
    font-family: "Roboto";
    font-style: normal;
    padding-bottom: 50px;
  }
  &__cards {
    @include set-flex(column, center, center);

    padding-left: 15px;
    padding-right: 15px;
  }
}
.person-card {
  width: 450px;
  height: 622px;
  background: color("third_font");
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
  @include set-flex(column, flex-start, center);

  &__item {
    display: flex;
    flex-flow: column;
    // width: 450px;
    // height: 460px;
    // margin: 0;
    // padding: 0;
  }

  &__name {
    display: flex;
    justify-content: center;
    @include font-styles(16px, 500, 0.03em);
    font-family: "Roboto";
    font-style: normal;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  &__position {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    color: color("text");
    padding-bottom: 16px;
  }
  &__img {
    width: 450px;
    height: 460px;
  }
}
.icon {
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1170px;
    background-color: color("body-background");
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: 0 auto;
      padding: 94px 0;
    }
    &__h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 36px;
      padding-bottom: 10px;
    }
    &__cards {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .person-card {
    width: 270px;
    height: 428px;
    display: flex;
    background: color("third_font");
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &__item {
      display: flex;
      flex-flow: column;
      width: 270px;
      height: 428px;
    }

    &__name {
      display: flex;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 10px;
    }
    &__position {
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
      color: color("text");
      padding-bottom: 16px;
    }
    &__img {
      width: 270px;
      height: 260px;
    }
  }
  .icon {
    justify-content: space-between;
  }
}
