@mixin font-styles($family, $style, $weight, $size, $lheight, $spacing) {
  font-family:$family;
  font-style:$style;
  font-weight: $weight;
  font-size: $size;
  line-height:$lheight;
  letter-spacing: $spacing;
}
@mixin set-flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// @include set-flex(row, center, center);
// @include font-styles('Raleway', normal, 700, 24px, 28px, 0.03em);
// .nowy{
//@extend .kopiowany; nowe włąściwości } 